<div class="dp_edit" id="dp_edit">
  <script> hideOnLoad(); </script>
  <% @action = @dp.exist? ? 'update' : 'create' %>
  <h3><%= raw l("label_#{@action}_delegate_permission".to_sym, :user => link_to_user(@dp.user).html_safe) %></h3>

  <div class="splitcontentleft">
    <%= render :partial => 'delegate_permissions/main_section_for_permitted'%>
    <%= render :partial => 'delegate_permissions/main_section_for_banned' %>
    <%= render :partial => 'delegate_permissions/main_section_for_all_permitted'%>
  </div>

  <div class="splitcontentright">
    <p class="button_links">
      <%= link_to_remote(l(:button_change_user), 
            url: change_user_edit_project_delegate_permissions_path(project_id: @project.id, id: @dp.id),
            :class => 'icon icon-change-user' )  if @dp.persisted? %>
      <%= link_to_remote(l(:button_to_delegate_permissions_list), url: project_delegate_permissions_path(@project), :class => 'icon icon-cancel' ) %>
    </p>
    <%= render :partial => 'delegate_permissions/tabs' %>
  </div>
</div>
