<p class="delegate_label"><%= l(:label_banned_principals) %>:</p>
<% if @dp.banned.any? %>
  <table class="list permissions members" id="permissions">
    <thead>
      <tr>
        <th><%= l(:label_user) %> / <%= l(:label_group) %></th>
        <th style="width:15%"></th>
      </tr>
    </thead>
    <tbody>
      <% if @dp.banned.any? %>
        <% @dp.banned.each do |bann| %>
          <% principal = Principal.find(bann) %>
          <tr id="member-<%= principal.id %>" class="<%= cycle 'odd', 'even' %> member">
            <td class=<%= "#{principal.class.to_s.downcase}" %>><%= link_to_user principal %></td>
            <td class="buttons">
              <%= link_to_remote(l(:button_delete), { 
                                          url: destroy_banned_project_delegate_permissions_path(
                                            :id => @dp.id,
                                            :project_id => @project.id,
                                            :principal_id => principal.id 
                                          ),
                                          method: :delete,
                                          confirm: (!User.current.admin? && principal.id == User.current ? l(:text_own_membership_delete_confirmation) : nil)
                                        }, :title => l(:button_delete),
                                           :class => 'icon icon-del') %>
            </td>
          </tr>

        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

