<tr id="member-<%= principal.id %>" class="<%= cycle 'odd', 'even' %> member" >
  <td class="#{principal.class.to_s.downcase}" ><%= link_to_user principal %></td>
  <td style="text-align: left" >
    <span id="member-<%= principal.id %>-permissions">
      <% if @wiki_page.ignore_permissions? %>
        <% if wpp.permissions.any? %><span><%= permissions_to_s(wpp.permissions) %></span><% end %>
      <% else %>
        <% if wpp.permissions.any? %><span class="members_permissions"><%= permissions_to_s(wpp.permissions) %></span><% end %>
        <% if wpp.bans.any? %><span class="members_bans"><%= permissions_to_s(wpp.bans) %></span><% end %>
    <% end %>
    </span>
      <%= remote_form_for(:wpp, wpp,
                        url: permissions_path(project_id: @project.id, id: @wiki_page.title),
                        method: :patch,                        
                        html: {
                          :id => "member-#{principal.id}-permissions-form",
                          :class => 'hol'
                         }) do |f| %>

        <% if @wiki_page.ignore_permissions? %>
          <span>
            <% delegate_list.each do |permission| %>
              <label><%= check_box_tag 'member[permissions][]', permission.to_s, principal.wiki_allowed_to?(@wiki_page, permission) %>
              <%=h l("label_" + permission.to_s) %></label><br />
            <% end %>
          </span>
        <% else %>
          <span class="members_permissions">
            <% delegate_list.each do |permission| %>
              <label><%= check_box_tag 'member[permissions][]', permission.to_s, (principal.wiki_allowed_to?(@wiki_page, permission) || disabled_permissions(principal).include?(permission)), :disabled =>  disabled_permissions(principal).include?(permission) %>
              <%=h l("label_" + permission.to_s) %></label><br />
            <% end %>
          </span>
          <span class="members_bans">
            <% disabled_permissions(principal).each do |permission| %>
              <label><%= check_box_tag 'member[bans][]', permission.to_s, wpp.bans.include?(permission) %>
              <%=h l("label_" + permission.to_s) %></label><br />
            <% end %>
          </span>
        <% end %>

        <%= hidden_field_tag :principal_id, principal.id %>
        <%= hidden_field_tag :wpp_id, wpp.id %>
        
        <span class="permissions_bans_buttons">
          <br/>
          <br/>
          <%= submit_tag l(:button_change), data: {disable_with: "Please wait..."}, :class => "small" %>
          <%= link_to_function l(:button_cancel), "$('#member-#{principal.id}-permissions').show(); $('#member-#{principal.id}-permissions-form').hide(); return false;" %>
        <br/>
        <br/>
        </span>
      <% end %>
  </td>
  <td class="buttons">
  <%= link_to_function l(:button_edit), "$('#member-#{principal.id}-permissions').hide(); $('#member-#{principal.id}-permissions-form').show(); return false;", :class => 'icon icon-edit' %>
  <%= link_to_remote(l(:button_delete), { 
                          url: destroy_permissions_path(project_id: @project.id, id: @wiki_page.title, :wpp_id => wpp.id),
                                           :method => :delete,
                                          :confirm => (!User.current.admin? && principal.id == User.current ? l(:text_own_membership_delete_confirmation) : nil)
                                        }, :title => l(:button_delete),
                                           :class => 'icon icon-del') %>
  </td>
</tr>

