<div class="splitcontentright">

<% principals = User.current.principals_for_delegate(@project) - @wiki_page.permissions.map{|wpp| Principal.find(wpp.principal_id)} %>

<% if principals.any? %>
  <% remote_form_for(:wpp, @member,
                     :url => {
                       :controller => 'wiki_permissions',
                       :action => 'new',
                       :id => @wiki_page.title },
                     :method => :post,
                     :loading => '$(\'member-add-submit\').disable();',
                     :complete => 'if($(\'member-add-submit\')) $(\'member-add-submit\').enable();') do |f| %>
    <fieldset><legend><%=l(:label_member_new)%></legend>

    <p><%= label_tag "principal_search", l(:label_principal_search) %><%= text_field_tag 'principal_search', nil %></p>
    <%= observe_field(:principal_search,
                 :frequency => 0.5,
                 :update => :principals,
                 :url => {
                   :controller => 'wiki_permissions',
                   :action => 'autocomplete_for_member',
                   :id => @wiki_page.title,
                   :project_id => @project },
                 :with => 'q') %>

    <div id="principals">
      <%#= wiki_permissions_check_box_tags 'member[user_ids][]', principals %>
      <%= principals_check_box_tags 'member[user_ids][]', principals %>
    </div>

    <p><b><%= l(:permissions) %>:</b><br/>
    <% delegate_list.each do |permission| %>
      <label><%= check_box_tag 'member[permissions][]', permission.to_s %> <%=h l("label_" + permission.to_s) %></label>
    <% end %></p>

    <p><b><%= l(:bans) %>:</b><br/>
    <% delegate_list.each do |ban| %>
      <label><%= check_box_tag 'member[bans][]', ban.to_s %> <%=h l("label_" + ban.to_s) %></label>
    <% end %></p>
    <%= hidden_field_tag 'project_id', @project.id %>
    <p><%= submit_tag l(:button_add), :id => 'member-add-submit' %></p>
    </fieldset>
  <% end %>
<% end %>

</div>
